@{
    ViewBag.Title = "Mvc de Model Validation Kullanımı";
}

<h2>Mvc de Model Validation Kullanımı</h2>

<p>
    Model class larının içerisindeki property lerin boş geçilememe, karakter sayısı vb gibi durumlarını ayarlamamızı saplar.
</p>

<a href="/MVC05ModelValidation/UyeListesi" class="btn btn-info">Uye Listesi</a>